body {
    display: flex;
    flex-direction: column;
    background: rgb(243, 195, 106);
    font-family: "Courier New", Courier, monospace;
    font-style: italic;

}

h1 {
    display: flex;
    justify-content: center;
    text-shadow: .1em .1em rgb(247, 248, 168), .15em .15em pink;
    font-size: 5em;
}

/* Main section of the page */
.etchmain {
    display: flex;
    justify-content: center;
}


.settings {
    margin-right: 3em;
    list-style-type: none  
}


.settings button {
    background-color: rgb(255, 194, 204);
    border-radius: 0px;
    font-size: 26px; 
    line-height: 26px; 
    padding: 10px; 
    margin-bottom: .5em;
    box-shadow: rgb(0, 0, 0) 5px 5px 0px 0px; 
    border: 2px solid rgb(0, 0, 0);    
    }

.settings button:hover{
    background-color: rgb(226, 165, 188);
}

#sizeInput {
    font-size: 26px; 
    width: 6em;
    margin-bottom: .2em;
    margin-top: 2em;
    
}

/* Box containing the etch-a-sketch */
.sketchbox {
    display: flex;
    border: 4px black solid;
    height: 50em;
    min-width: 50em;
    box-shadow:.8em .8em black;
    background-color: aliceblue;
    
    
}
.row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.s {
    border: .1em solid rgb(224, 224, 224);
    flex-grow: 1;
       
}

.pendown {
    border: .1em solid rgb(224, 224, 224);
    background-color: rgb(255);
    flex-grow: 1;

}


/* to remove the spin down from number input box */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
